p{
  font-family: 'Roboto', sans-serif;;
}

h1, h2, h3 {
  font-family: 'Black Ops One', cursive;
}

h1 {
  text-align: center;
  font-size: 4rem;
}

#chartContainer {
  margin-top: 10px;
  margin-left: 10%;
  margin-right: 10%;
}

#year {
  margin-top: -1px;
  margin-left: -10px;
}

body {
  background-color: #ddd1c1;
  color: black;
}

.box {
  display: flex;
}

.col {
  flex: 1;
  margin: 25px;
  border: 4px solid #9C9996;
  border-radius: 15px;
  margin-right: 20px;
   background: linear-gradient(#B6B9BF, #B0A9A6)
}

.mapCol {
  flex: 2;
  border-right: 50px;
}

.controls {
  display: flex;

}

.controls-col {
  margin-top: 1rem;
  flex: 1;
}

#mapid {
  height: 600px;
  width: 1200px;
  border: 10px;

}

#map-border {
  border: 4px solid #9C9996;
  border-radius: 5px;
  margin-right: 20px;
}

#country-info{
  padding-left: 25px;
  padding-right: 25px;
}

#strikes-data{
  padding-left: 25px;
  padding-right: 25px;
}

#general-info{
  padding-left: 25px;
  padding-right: 25px;
}
